.nav-item4 .navpad{
    padding: 0em 0.80em;
}
.nav-item1 img
{
  width: 150px;
}
.nav-item1{
  margin-right:9%;
}

.nav-item3 {
  font-size: 15px;
    padding-right: 0.90em;
    display: flex;
    align-items: center;

}
.nav-item3 .topright{
    font-size: 1.10em;
    display: flex;
    margin-left: 25px;
    border: 1px #1254ac solid;
    border-radius: 3px;
    vertical-align: middle;
  width: 115px;
  height: 35px;
  
}
.nav-item3 .topright:hover
{
background: #154396;
  }
  .nav-item3 .topright:hover a
{
color: #ffffff;
  }
.nav-item4 a
{
  
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #3F4048 !important;
}
.nav-item4 .active a
{
  color:#1254ac !important;
}
.nav-item4 .navpad a:hover
{
  color:#154396 !important;
}
.ft-blue{
 
  color: #154396;
    font-size: 1.10em;
    vertical-align: middle;
}
.ft-blue a
{
  color: #154396;
  margin: auto;
}
.ft-blue:hover a
{
  color: #154396;
  text-decoration: none;


}
.cvrbg-jb{
background-image: url('../images/jobt.jpg');
background-size: cover;
position: relative;
z-index:1;
height: 80vh;

}
.cvr-lr{

  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  text-align: center;
  
}
.cvr-h{
  
  padding: 4.20em 4.20em 0 4.20em;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    
    
}
.first-title
{

  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; 
  color:white;
      font-size: 20px;
    font-weight: 400;

}
.collemp
{
  padding-right: 5px;
}
.collrech
{
 padding-left: 0px;
}
.collbo
{
 padding-left: 0px;

}
.input-group
{
  background-color :rgba(255,255,255,.4);
  margin: auto;
  padding: 10px 0;
  width: fit-content;
  border-radius: 2px;
}
.form
{
  height:50px;
  border-radius: 3px;
}

.t
{
  width: 350px;
}
.s
{

  width: 350px;
}
.b
{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edb635;
  color: white;
  border-radius: 0 3px 3px 0;
  
}
.sicon
{
  border-radius: 3px 0 0 3px ;
 display: flex;
  align-items: center; 
  background: #edb635;
  font-size: 1.2em;
  padding: 0 10px;
  padding-top:14px;
  vertical-align: middle;
  color: white;
}
.collbo:hover .b

{
  background: #154396;
}

.collbo a
{
  text-decoration: none;
}
.collbo a:hover
{
  text-decoration: none;
  color: white;
}

.blue-container
{
  visibility: hidden;
padding-bottom: 0px !important;
display: flex;
  justify-content: center;
  align-items: center;
 
}
.blue-bar
{
 list-style-type: none;
 color: white;
background-color: #154396;
display: inline;
width: 100%;
display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px 4px 0px;
  margin-bottom: 0 !important;
}
.blue-bar li
{
  float: left;
  width: 10%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
    border-left: 1px solid;
    text-transform: uppercase;
}
.blue-bar li:hover a
{
color: #95c0ff;
}
ul #inlist
{
  border :none;
}
.blue-bar li a
{
  line-height: 40px;
  font-weight: 400;
text-decoration: none;
  vertical-align: middle;
font-size: 16px;
    height: 40px;
    color: white;
}
.second-tit{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  

}


.empinf{
    height:100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  padding-left: 1em;
  padding-bottom: 3em;
}
.empval
{
    color: #1e4b9e;
  }

  .first-contai
  {
    padding-bottom: 30px;
  }
.job-item
{
  background: white;
  padding: 15px 10px 5px 10px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  margin-bottom: 20px;
}
.detail-con a
{
  width: 70px;
  padding: 0px !important;
  color: white;
  background-color: #618900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  margin: 7px 0 11px 0;
}
.job-item h5
{
 color: black; 
 text-transform: capitalize; 
 padding-left: 15px;
 padding-bottom: 3px;
 width: 100% !important;
}
.postuler-con
{
  margin: auto;
  margin-top: 10px;
  width: 85%;
}

.postuler-con a
{
  
  color: #1254ac;
  text-align: center;
  /*border: 1px solid #1254ac;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
 
  font-size: 17px;
}
.postuler-con a i
{
margin-right: 10px;
}
.postuler-con a:hover
{
  /*
  background: #009fda;
  color: white;
  */color: #009fda;
  text-decoration: underline;
}

.icon-con
{
  margin-top: 7px;
}
.duo-icons
{
  width: 100%;
  
  text-align: center;

}
.duo-icons span
{

  font-size: 15px;
  width: 50%;

  padding: 0 5px;
  
}
.duo-icons .salair-span
{
border-left: 1px solid black;
padding-left: 8px;
 
}
.cv-content
{
      box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  background: white;
  margin-bottom: 10px;
}
.cd-txt
{
  margin-bottom: 30px;
}
.first-right
{
  padding-top: 15px;
  font-size: 1.3em;
  text-align: left;
 padding-left: 20px;
 margin-bottom: 0px;
  text-decoration: none;
  height: 40px
}
.cv-content a
{
    letter-spacing: .5px;
   width: 80%;
  color: white;
  border-radius: 42px;
  margin: auto;
   font-weight: 500;
  color: white;
  text-align: center;
  background: #1254ac;
   display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 45px;
  font-size: 17px;
  display: flex;
  align-self: center;
  margin: auto;
  margin-bottom: 13px;

}
.boss-part
{
  
 margin-top: 20px;
}
.boss-part .ajouter
{
  background: #618900;
}
.comment
{
  text-align: center;
  margin: 40px 0 40px 0;
  text-transform: capitalize;
    font-weight: 700;
    color: #3F4048;
    font-size: 24px;
    line-height: 29px;
}
.container2
{
  padding-bottom: 30px;
}
.how-row .col-md-4
{
  padding: 0 10px;
}
.how-item
{
     box-shadow: 0 0 5px 0 rgba(146,146,146,.4);
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
  text-align: center;
  padding: 30px;
  height: 300px;
}
.how-item img
{
  width: 30%;
  margin: auto;
/*border-radius: 50%;
background: #1254ac;*/
margin-bottom: 35px;
vertical-align: middle;
display: flex;
align-self: center;
}

.how-item h5 
{
  margin-bottom :35px;
  
}
.container3
{
 background:#f9f9f9 ;
padding-bottom: 90px; 

}
header
{
  padding-top: 15px;
  height: 160px;
  text-align: center;
 background: #f9f9f9;
 background-size: cover;
  vertical-align: middle;
  color: #1254ac;
 padding-top: 40px;
  
}

.comment-title
{
  vertical-align: middle;
    font-family: arial, sans-serif !important;
    font-weight: 700;
    font-size: 30px !important;
    color: #1254ac !important;
    line-height: 23px !important;

}
.comment-subtitle
{
  margin-top: 10px;
  vertical-align: middle;
  display: block;
  color: gray;
}
.slide
{
text-align: left;
}
.slide-text
{
  height: 360px;

}
.slide-text p
{

  text-align: left;
font-size: 20px;
    height: 4.5em;
    position: relative;
    color: #000;
    letter-spacing: 00;
width: 80%;
margin: auto;

}
.slide-text h5
{
  color: #00136a;
 width: 80%;
    margin: auto;
    margin-bottom:20px;
    margin-top: 10px;
  text-align: left;
  font-size: 1.1em;
 
  text-transform: capitalize;

}
.slide-text h4
{

    text-transform: capitalize;
  width: 80%;
    margin: auto;
margin-top: 15px;
  text-align: left;
}
/*.carousel-control-next, .carousel-control-prev {
  width: 10%;
  border-radius: 50px;
  background: gray;
  height: 40px;
  width: 40px;
top:calc(50% - 20px);
  }
  .carousel-control-next
  {
    right: 0%;
  }
   .carousel-control-prev
  {
   left: 0%;
  }
  */

  .carousel-control-next, .carousel-control-prev {
  
  border-radius: 42px;
  background: #154396;
  height: 35px;
  width: 60px;
  bottom: 45px !important;
  top: auto;
  opacity: .9 !important;
  }
  .carousel-control-next
  {
    left:calc(35% + 60px + 0px);
    border-radius: 0 42px 42px 0;
   
  }
   .carousel-control-prev
  {
    left: 35%;
    border-radius: 42px 0 0 42px;
    border-right: 1px solid white;
   
  }
  .pic-container img
  {
    border-radius: 4px;
  }
.recrute
{
  margin-bottom: 2em;
}
.recrute-row
{
  display: flex;
  justify-content: center;
}
.entreprise img
{
width: 100%;
margin-bottom: 20px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
  border-radius: 2px;

}
.entreprise img:hover
{

  box-shadow: 0 6px 30px 1px rgba(0,0,0,.2);
 

}

.entreprise
{
  text-align: center;
  margin-top: 0px;
  margin-bottom:100px;
}
.entreprise h1
{
 margin-bottom: 60px;
}
.copyright
{
  background: #22262a;
  text-align: center;
  margin-bottom: none;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #767b80;
  display: flex;
  justify-content: center;align-items: center;

}

.full-background-actual
{
  padding-top: 7px;
padding-bottom: 20px;
}
.card-item
{
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}
.card-item:hover
{
  box-shadow: 0 7px 14px 2px rgba(0,0,0,.2);
  
}
.card-item:hover .card-item img
{
  
  margin-bottom: 15px;
}
.card-item .card-body
{
padding-top: 5px;
}
.card-item .blue-actual span
{
  font-weight: 400;
  color: #154396;
}
.card-item .blue-actual
{
  overflow: hidden;
  position: absolute !important;
  bottom: 0px;
  background: white;
  color: white;
  height: 60px;
font-weight: 375;
    
    font-size: 14px;
    color: #434343;
    font-size: 16px;
    transition: height 0.5s;
    border-radius: 0px 0px 4px 4px ;
    text-align: center;
}
.col-actual img
{
  border-radius: 4px;
}
.col-actual
{
  padding: 0 10px;
  margin-bottom: 20px;
}
/*----------------------------------------------------- before large  -------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .nav-item4 .navpad{
    padding: 0em 5px;
}
.nav-item1 img
{
  width: 130px;
}
.nav-item3 {
    padding-right: 1em;
    font-size: 14px;
}
.nav-item3 .topright{
   
    margin-left: 20px;
  width: 100px;
  height: 30px;
  
}

.nav-item1
{
  margin-right: 30px;
}


.cvr-h{
  
  padding: 4.5em 4.5em 0 4.5em;
    font-size: 35px;
}


.blue-bar li
{
  width: 12%;
}
.postuler-con a
{

  font-size: 15px;
  width: 100%;
}
.postuler-con
{
  width: 100%;
}
.t
{
  width: 300px;
}
.s
{

  width: 300px;
}
.slide-text
{
  height: 300px;

}
.slide-text p
{


font-size: 17px;
width: 90%;

}

  .carousel-control-next, .carousel-control-prev {
  width: 60px;
  bottom: 20px !important;
  }

}
/* ----------------------------------------------------------------------laptop ---------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
.jobs
{
  padding-left: 30px;
}
.container {
    max-width: 100%;
}
  .nav-item4 .navpad{
    padding: 0em 0px;
    font-size: 13px;
}
.nav-item4 a
{
  
    font-weight: 500 !important;
    font-size: 13px !important;
    color: #3F4048 !important;
}

.nav-item1 img
{
  width: 120px;
}
.nav-item3 {
    padding-right: 0.20em;
    font-size: 13px;
}
.nav-item3 .topright{
   
    margin-left: 10px;
  width: 70px;
  height: 30px;
  
}

.nav-item1
{
  margin-right: 10px;
}


.cvr-h{
  
  padding: 4.9em 2.0em 0 2.0em;
    font-size: 30px;
}


.blue-bar li a
{
  font-size: 14px;
}
.icon-con
{
  padding-left: 0px;
  padding-right: 0px;
}
.postuler-con a
{

  font-size: 15px;
  width: 100%;
}
.duo-icons span
{

  font-size: 13px;
}
.detail-con
{
  padding-right:5px;
}
.postuler-con
{
  width: 100%;
}
.form
{
  height:40px;
  border-radius: 3px;
}
.t
{
  width: 240px;
}
.s
{

  width: 240px;
}
.sicon
{
  padding-top: 13px;
}

.slide-text h5
{
   margin-left: 15px;
    margin-bottom:10px;
    margin-top: 10px;
  font-size: 1em;
}
.slide-text h4
{
  margin-left: 15px;
  font-size: 18px;
margin-top: 10px;
  text-align: left;
}
.slide-text
{
  height: 300px;

}
.slide-text p
{
font-size: 17px;
width: 100%;

}

  .carousel-control-next, .carousel-control-prev {
  width: 60px;
  height: 20px;
  bottom: 20px !important;
  }

}
/*
phone version
phone phone phone phone vphone phone phone phone vphone phone phone phone vphone phone phone phone vphone phone phone phone v
phone version
phone version

phone version
*/
@media screen and (max-width: 767px) {

.navbar
{

}
.navbar-toggler
{
  border: none;

}

.cvr-h{
  
  padding: 4em 0.5em 0 0.5em;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    
    
}
.first-title
{

  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; 
  color:white;
      font-size: 18px;
    font-weight: 300;

}
.collemp
{
 padding: 0px;
}
.collrech
{
 padding: 0px;
 margin: 10px 0px;
}
.collbo
{
 
padding: 0px;
}
.input-group
{
  background-color :rgba(255,255,255,.4);
  margin: auto;
  padding: 10px 0;
  width: 90%;
  border-radius: 2px;
}
.form
{
  height:50px;
  border-radius: 3px;
  margin: auto;

}

.t
{
  width: 93%;
}


.collbo:hover .b

{
  background: #154396;
}
.b
{
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
 background: #edb635;
  color: white;
  border-radius: 0 3px 3px 0;
  width: 80%;
  margin-left: 0px;
}
.sicon
{
  border-radius: 3px 0 0 3px ;
 display: flex;
  align-items: center; 
  background: #edb635;
  font-size: 1.2em;
  padding: 0px;
  padding-top: 15px;
  width: 13%;
  margin-right: 0px;
  vertical-align: middle;
  color: white;
}
.b:hover
{
  background: #009fda;
}
.collbo a
{
  text-decoration: none;
}
.collbo a:hover
{
  text-decoration: none;
  color: white;
}
.s
{

  width: 93%;
}
.blue-bar
{
  visibility: hidden;
}
.jobs
{
  padding: 0 30px;
}
.job-item
{
  background: white;
  padding: 10px 10px 0 10px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
  margin-bottom: 20px;
}
.detail-con a
{
  
  border-radius: 10px;
  font-size: 14px;
  margin: 0px 0 15px 0;
}
.detail-con h5
{
 color: #00136a; 
 text-transform: capitalize; 
 padding-bottom: 10px;
 font-size: 17px;
}
.postuler-con
{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;

  width: 100%;
}

.postuler-con a
{
  
  font-size: 16px;
}


.icon-con
{
  margin-top: 10px;
}
.duo-icons
{
  width: 100%;
  
  text-align: center;

}
.duo-icons span
{

  font-size: 15px;
  width: 50%;

  padding: 0 5px;
  
}
.duo-icons .salair-span
{
border-left: 1px solid black;
padding-left: 8px;
 
}
.right-side
{
  padding: 30px 15px;
  background: white;
}
.cv-content
{
  box-shadow: 0 1px 10px 1px rgba(0,0,0,.1);
  border-radius: 4px;
  background: white;
  margin-bottom: 20px;
  
}
.cd-txt
{
  margin-bottom: 30px;
  text-align: center;
  line-height: 21px;
    font-family: 'Roboto',"Microsoft YaHei",Arial,sans-serif;
    font-weight: 400;
}
.cv-content .first-right
{
  letter-spacing: .5px;
  border-radius: 4px 4px 0 0;
  background: #1254ac;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  color: white;
  font-weight: 500;
}
.card-body
{
  padding-top: 10px;
}
.cv-content a
{
  letter-spacing: .5px;
   width: 80%;
  color: white;
  text-align: center;
  background: #1254ac;
  border-radius: 42px;
  height: 45px;
  font-size: 15px;
  margin: auto;
  margin-bottom: 15px;
   font-weight: 500;

}
.boss-part .first-right
{
  background: #618900; 
}
.pub-side
{
  text-align: center;

 margin-top: 30px;
}
.pub-side img
{
width: 100%;
}
.second-tit
{


 margin-top: -40px;
}
.comment
{
  margin: 30px 0 30px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.full-background-actual
{
  padding-top: 20px;
  background: white;
}
.card-item
{
  width: 100%;
  margin-bottom: 15px;

}
.card-img-top
{
 height: 300px !important;
}
.card-item .blue-actual
{
  
  height: 82px;
    color: black;
    font-size: 15px;
    transition: height 0.5s;
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: 100%;
}
.col-actual
{
  padding: 0 15px;
}

.container3
{
 background:#f9f9f9 ;
padding-bottom: 0px; 

}
header
{
  padding-top: 30px;
  height: 140px;
  text-align: center;
 background: #f9f9f9;
  vertical-align: middle;
 
}

.comment-title
{
  vertical-align: middle;
    font-family: arial, sans-serif !important;
    font-weight: 500;
    color: #1254ac !important;
    line-height: 23px !important;
    font-size: 14px;

}
.comment-subtitle
{
  margin-top: 10px;
  font-size: 15px;
}

.slide-text
{
  height: 300px;

}
.slide-text p
{
width: 80%;
  text-align: justify;
font-size: 17px;

}
.slide-text h5
{

    margin: auto;
    margin-bottom:20px;
    margin-top: 10px;
  text-align: center;
  font-size: 1em;

}
.slide-text h4
{
  margin: auto;
margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
 
  .carousel-control-next, .carousel-control-prev {
  
  border-radius: 42px;
  background: #154396;
  height: 35px;
  width: 60px;
  bottom: 10px !important;
  top: auto;
  opacity: .9 !important;
  }
  .carousel-control-next
  {
    left:calc(40% + 60px + 0px);
    border-radius: 0 42px 42px 0;
   
  }
   .carousel-control-prev
  {
    left: 40%;
    border-radius: 42px 0 0 42px;
    border-right: 1px solid white;
   
  }
 .recrute
{
  margin-bottom: 2em;
}
.recrute-row
{
  display: flex;
  justify-content: center;
}
.entreprise img
{
width: 100%;
margin-bottom: 10px;
  border-radius: 2px;

}
.entreprise img:hover
{

  box-shadow: 0 6px 30px 1px rgba(0,0,0,.2);
 

}

.entreprise
{
  text-align: center;
  margin-top: 0px;
  margin-bottom:30px;
}
.entreprise h1
{
 margin-bottom: 60px;

}
.entreprise .col-6
{
padding-right: 2px;
padding-left: 2px;
}
.footer-dark .text p
{
font-size: 14px;
}

.footer-dark h3
{
  font-size: 16px;
  font-weight: 400;
}
.container2
{
  padding-bottom: 30px;
}
.how-row .col-md-4
{
  margin-bottom: 15px;
}
.how-item
{
  margin: auto;
  text-align: center;
  margin
  margin-bottom: 20px;
}
.how-item img
{
  width: 20%;
  margin: auto;
margin-bottom: 15px;
vertical-align: middle;
display: flex;
align-self: center;
}

.how-item h5 
{
  margin-bottom :15px;
  font-size: 15px;
  
}
.how-item h5 
{
  margin-bottom :15px;
  font-size: 15px;
  
}
}
@media screen and (max-width:  560px) {
  .slide-text
  {
    height: 360px;
  }
}